
<form class="form" (ngSubmit)="onSubmit(customerForm)" #customerForm="ngForm" novalidate id="form1">
    <div class="mb-3">
      <label for="companyName" class="form-label">company name</label>
      <input type="text" class="form-control" name="companyName" #name="ngModel" [(ngModel)]="customer.companyName" 
        id="companyName" required [ngStyle]="{'border': customerForm.submitted ? 'red 5px': 'white 5px'}" >
      <div *ngIf="name.invalid && name.touched" class="alert alert-danger">Please fill this field</div>
    </div>
    <div class="mb-3">
      <label for="NIP" class="form-label">NIP</label>
      <input type="text" class="form-control" name="nip" #nip="ngModel" [(ngModel)]="customer.nip" id="NIP" required>
      <div *ngIf="nip.invalid && nip.touched" class="alert alert-danger">Please fill this field</div>
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">city</label>
      <input type="text" class="form-control" name="city" #city="ngModel" [(ngModel)]="customer.city" id="city" required style="border: red 5px;">
      <div *ngIf="city.invalid && city.touched" class="alert alert-danger">Please fill this field</div>    
    </div>
    <div class="mb-3">
      <label for="street" class="form-label">street</label>
      <input type="text" class="form-control" name="street" #street="ngModel" [(ngModel)]="customer.street" id="street" required>
      <div *ngIf="street.invalid && street.touched" class="alert alert-danger">Please fill this field</div>
    
    </div>
    <div class="mb-3">
      <label for="houseNumber" class="form-label">house number</label>
      <input type="text" class="form-control" name="houseNumber" #houseNumber="ngModel" [(ngModel)]="customer.houseNumber" id="houseNumber" required>
      <div *ngIf="houseNumber.invalid && houseNumber.touched" class="alert alert-danger">Please fill this field</div>
    
    </div>
    <div class="mb-3">
      <label for="flatNumber" class="form-label">flat number</label>
      <input type="text" class="form-control" name="flatNumber" [(ngModel)]="customer.flatNumber" id="flatNumber">
    </div>
    <div class="mb-3">
      <label for="postNumber" class="form-label">post number</label>
      <input type="text" class="form-control" name="postNumber" #postNumber="ngModel" [(ngModel)]="customer.postNumber" id="postNumber" required>
      <div *ngIf="postNumber.invalid && postNumber.touched" class="alert alert-danger">Please fill this field</div>

    </div>

    <div class="mb-3">
      <label for="comment" class="form-label">comment</label>
      <textarea class="form-control" name="comment" [(ngModel)]="customer.comment" id="comment" rows="3"></textarea>
    </div>

    <div class="mb-3">
      <label for="industry" class="form-label">industry</label>
      <select class="form-select" name="industry" [(ngModel)]="customer.industry" id="industry" required>
        <option value="IT">IT</option>
        <option value="logistics">logistics</option>
        <option value="finance">finance</option>
        <option value="other">other</option>
      </select>
    </div>

    <div class="mb-3 form-check">
      <label class="form-check-label" for="online">online</label>
      <input type="checkbox" class="form-check-input" name="online" [(ngModel)]="customer.online" id="online">
    </div>

    <div *ngIf="customerForm.invalid">Please fill all fields in form</div>
    <div *ngIf="customerForm.valid">Everything fine in the form</div>

    <button #submit *ngIf="customerForm.valid" >Submit</button>
    <button #submit *ngIf="customerForm.invalid" disabled>Submit</button>

  </form>
