
<form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate id="form1">
    <div class="mb-3">
      <label for="companyName" class="form-label">company name</label>
      <input type="text" class="form-control" name="companyName" [(ngModel)]="customer.companyName" id="companyName" required>
    </div>
    <div class="mb-3">
      <label for="NIP" class="form-label">NIP</label>
      <input type="text" class="form-control" name="nip" [(ngModel)]="customer.nip" id="NIP" required>
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">city</label>
      <input type="text" class="form-control" name="city" [(ngModel)]="customer.city" id="city" required>
    </div>
    <div class="mb-3">
      <label for="street" class="form-label">street</label>
      <input type="text" class="form-control" name="street" [(ngModel)]="customer.street" id="street" required>
    </div>
    <div class="mb-3">
      <label for="houseNumber" class="form-label">house number</label>
      <input type="text" class="form-control" name="houseNumber" [(ngModel)]="customer.houseNumber" id="houseNumber" required>
    </div>
    <div class="mb-3">
      <label for="flatNumber" class="form-label">flat number</label>
      <input type="text" class="form-control" name="flatNumber" [(ngModel)]="customer.flatNumber" id="flatNumber">
    </div>
    <div class="mb-3">
      <label for="postNumber" class="form-label">post number</label>
      <input type="text" class="form-control" name="postNumber" [(ngModel)]="customer.postNumber" id="postNumber" required>
    </div>

    <div class="mb-3">
      <label for="comment" class="form-label">comment</label>
      <textarea class="form-control" name="comment" [(ngModel)]="customer.comment" id="comment" rows="3"></textarea>
    </div>

    <div class="mb-3">
      <label for="industry" class="form-label">industry</label>
      <select class="form-select" name="industry" [(ngModel)]="customer.industry" id="industry" required>
        <option value="IT">IT</option>
        <option value="logistics">logistics</option>
        <option value="finance">finance</option>
        <option value="other">other</option>
      </select>
    </div>

    <div class="mb-3 form-check">
      <label class="form-check-label" for="online">online</label>
      <input type="checkbox" class="form-check-input" name="online" [(ngModel)]="customer.online" id="online" required>
    </div>

    <button>Submit</button>
  </form>
